<div class="grid grid-cols-1 md:grid-cols-3 gap-12 p-8 min-h-screen">
  <div class="rounded bg-black bg-opacity-10 p-4">
    <h3 class="text-xl font-semibold text-center mb-2">
      Totals
    </h3>

    <div class="grid grid-cols-2 gap-x-4">
      <div class="font-semibold text-right">Total</div>
      <div class="text-left"><%= @stats[:total][:all] %></div>

      <div class="font-semibold text-right">Correct</div>
      <div class="text-left"><%= @stats[:total][:correct] %> (<%= (@stats[:total][:correct].to_f / @stats[:total][:all] * 100).round %>%)</div>

      <div class="font-semibold text-right">Wrong</div>
      <div class="text-left"><%= @stats[:total][:wrong] %> (<%= (@stats[:total][:wrong].to_f / @stats[:total][:all] * 100).round %>%)</div>
    </div>
  </div>

  <div class="rounded bg-black bg-opacity-10 p-4">
    <h3 class="text-xl font-semibold text-center mb-2">
      Real Pokémon
    </h3>

    <div class="grid grid-cols-2 gap-x-4">
      <div class="font-semibold text-right">Total</div>
      <div class="text-left"><%= @stats[:real][:all] %></div>

      <div class="font-semibold text-right">Correct</div>
      <div class="text-left"><%= @stats[:real][:correct] %> (<%= (@stats[:real][:correct].to_f / @stats[:real][:all] * 100).round %>%)</div>

      <div class="font-semibold text-right">Wrong</div>
      <div class="text-left"><%= @stats[:real][:wrong] %> (<%= (@stats[:real][:wrong].to_f / @stats[:real][:all] * 100).round %>%)</div>
    </div>
  </div>

  <div class="rounded bg-black bg-opacity-10 p-4">
    <h3 class="text-xl font-semibold text-center mb-2">
      Faked Pokémon
    </h3>

    <div class="grid grid-cols-2 gap-x-4">
      <div class="font-semibold text-right">Total</div>
      <div class="text-left"><%= @stats[:fake][:all] %></div>

      <div class="font-semibold text-right">Correct</div>
      <div class="text-left"><%= @stats[:fake][:correct] %> (<%= (@stats[:fake][:correct].to_f / @stats[:fake][:all] * 100).round %>%)</div>

      <div class="font-semibold text-right">Wrong</div>
      <div class="text-left"><%= @stats[:fake][:wrong] %> (<%= (@stats[:fake][:wrong].to_f / @stats[:fake][:all] * 100).round %>%)</div>
    </div>
  </div>
</div>
